.footer{
    background-color: gray;
    color: black;
    padding: 10px;
    text-align: center;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    

}
.img-footer{
    width: 150px;
    height: 200px;
}
